.padding-default-border {
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
}
.padding-default {
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
}
.iwd_opc_clear {
  clear: both;
}
.iwd_opc_alternative_column {
  width: 290px;
  box-sizing: border-box;
}
@media (max-width: 1050px) {
  .iwd_opc_alternative_column {
    width: 320px;
  }
}
@media (max-width: 390px) {
  .iwd_opc_alternative_column {
    width: 290px;
  }
}
.iwd_opc_universal_wrapper {
  margin-bottom: 25px;
  position: relative;
  max-width: 290px;
}
@media (max-width: 1050px) {
  .iwd_opc_universal_wrapper {
    max-width: 320px;
  }
}
@media (max-width: 390px) {
  .iwd_opc_universal_wrapper {
    max-width: 290px;
  }
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label {
  position: relative;
  cursor: pointer;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label .iwd_opc_checkbox_label_value {
  color: #868686;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  display: block;
  padding-left: 25px;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label .iwd_opc_checkbox_label_value:before {
  content: '';
  font-family: 'FontAwesome';
  width: 16px;
  height: 16px;
  line-height: 14px;
  border-radius: 4px;
  border: 1px solid #dddddd;
  display: inline-block;
  top: 2px;
  position: absolute;
  left: 0;
  margin-right: 10px;
  color: #fff;
  text-align: center;
  font-size: 8px;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox:not(:checked).validation-failed + .iwd_opc_checkbox_label_value:before,
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox:not(:checked).validation-failed + .iwd_opc_checkbox_label_value {
  border-color: #f7954e;
  color: #f7954e;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox:checked + .iwd_opc_checkbox_label_value:before {
  content: '\f00c';
  border-color: #22a1ad;
  background-color: #22a1ad;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox:disabled + .iwd_opc_checkbox_label_value:before {
  color: #b6b6b6;
  background-color: #f3f3f3;
  border-color: #868686;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox:focus:checked + .iwd_opc_checkbox_label_value:before {
  background-color: #26b3bf;
  border-color: #26b3bf;
}
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox:focus + .iwd_opc_checkbox_label_value:before,
.iwd_opc_universal_wrapper .iwd_opc_checkbox_label input.iwd_opc_checkbox:focus.validation-failed + .iwd_opc_checkbox_label_value:before {
  border-color: #22a1ad;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label {
  position: relative;
  cursor: pointer;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label .iwd_opc_radio_label_value {
  color: #868686;
  font-size: 14px;
  font-weight: normal;
  position: relative;
  display: block;
  padding-left: 25px;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label .iwd_opc_radio_label_value:before {
  content: '';
  font-family: 'FontAwesome';
  width: 16px;
  height: 16px;
  line-height: 15px;
  border-radius: 14px;
  border: 1px solid #dddddd;
  display: inline-block;
  position: absolute;
  margin-right: 10px;
  color: #fff;
  top: 2px;
  left: 0;
  font-size: 8px;
  text-align: center;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label input.iwd_opc_radio {
  position: absolute;
  top: 0;
  left: 0;
  opacity: 0;
  z-index: -1;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label input.iwd_opc_radio:not(:checked).validation-failed + .iwd_opc_radio_label_value:before,
.iwd_opc_universal_wrapper .iwd_opc_radio_label input.iwd_opc_radio:not(:checked).validation-failed + .iwd_opc_radio_label_value {
  border-color: #e9545e;
  color: #e9545e;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label input.iwd_opc_radio:checked + .iwd_opc_radio_label_value:before {
  content: '\f00c';
  border-color: #22a1ad;
  background-color: #22a1ad;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label input.iwd_opc_radio:disabled + .iwd_opc_radio_label_value:before {
  color: #b6b6b6;
  background-color: #f3f3f3;
  border-color: #868686;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label input.iwd_opc_radio:focus:checked + .iwd_opc_radio_label_value:before {
  background-color: #26b3bf;
  border-color: #26b3bf;
}
.iwd_opc_universal_wrapper .iwd_opc_radio_label input.iwd_opc_radio:focus + .iwd_opc_radio_label_value:before {
  border-color: #22a1ad;
}
.iwd_opc_universal_wrapper .iwd_opc_field {
  box-shadow: none;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_select {
  position: absolute;
  top: 0;
  left: 0;
  width: 1px;
  height: 1px;
  opacity: 0;
  z-index: -1;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea {
  background: inherit;
  border-radius: 4px;
  border: 1px solid #dddddd;
  color: #343434;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  font-size: 14px;
  outline: none;
  height: auto;
  width: 100%;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input:focus,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea:focus {
  border-color: #22a1ad;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input.validation-failed,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea.validation-failed {
  border-color: #e9545e;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input:invalid,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea:invalid,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input:-moz-ui-invalid,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea:-moz-ui-invalid {
  outline: none;
  box-shadow: none;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input::-moz-placeholder,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea::-moz-placeholder {
  color: #868686;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input:-moz-placeholder,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea:-moz-placeholder {
  color: #868686;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input:-ms-input-placeholder,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea:-ms-input-placeholder {
  color: #868686;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input::-webkit-input-placeholder,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea::-webkit-input-placeholder {
  color: #868686;
  opacity: 1;
  transition: opacity 0.3s ease;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_input:disabled,
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea:disabled {
  color: #b6b6b6;
  background-color: #f3f3f3;
}
.iwd_opc_universal_wrapper .iwd_opc_field.iwd_opc_textarea {
  max-width: 100%;
  overflow: hidden;
  line-height: inherit;
  resize: none;
}
.iwd_opc_universal_wrapper .iwd_opc_field[type="password"] {
  padding-right: calc(43px);
}
.iwd_opc_universal_wrapper.iwd_opc_message {
  font-size: 12px;
  padding-top: 10px;
  padding-right: 25px;
  padding-bottom: 10px;
  padding-left: 25px;
  border: 1px solid;
  border-radius: 4px;
  text-align: center;
}
.iwd_opc_universal_wrapper.iwd_opc_message.success_message {
  color: #22a1ad;
  border-color: #22a1ad;
}
.iwd_opc_universal_wrapper.iwd_opc_message.error_message {
  color: #e9545e;
  border-color: #e9545e;
}
.iwd_opc_universal_wrapper.iwd_opc_message.info_message {
  color: #f7954e;
  border-color: #f7954e;
}
.iwd_opc_universal_wrapper .iwd_opc_show_hide_password {
  font-family: 'FontAwesome';
  color: #868686;
  font-size: 14px;
  position: absolute;
  width: 15px;
  height: 15px;
  display: inline-block;
  right: 25px;
  top: 14px;
  line-height: 1;
  cursor: pointer;
}
.iwd_opc_universal_wrapper .iwd_opc_show_hide_password.active:after {
  content: "\f070";
}
.iwd_opc_universal_wrapper .iwd_opc_show_hide_password:after {
  position: absolute;
  top: 0;
  left: 0;
  width: 100%;
  height: 100%;
  content: "\f06e";
}
.iwd_opc_universal_wrapper .iwd_opc_show_hide_password:hover {
  color: #343434;
}
.iwd_opc_universal_wrapper.validation-error {
  background: inherit;
  padding: inherit;
}
.iwd_opc_universal_wrapper.validation-error.iwd_opc_empty_field .iwd_opc_field {
  border-color: #f7954e;
}
.iwd_opc_universal_wrapper.validation-error.iwd_opc_empty_field .iwd_opc_field:focus {
  border-color: #22a1ad;
}
.iwd_opc_universal_wrapper.validation-error.iwd_opc_empty_field .scroll-wrapper {
  border-color: #f7954e;
}
.iwd_opc_universal_wrapper.validation-error.iwd_opc_empty_field .scroll-wrapper.focused {
  border-color: #22a1ad;
}
.iwd_opc_universal_wrapper.validation-error .scroll-wrapper {
  border-color: #e9545e;
}
.iwd_opc_universal_wrapper .validation-advice {
  display: none !important;
}
.iwd_opc_short_fields {
  display: inline-block;
}
.iwd_opc_short_fields .iwd_opc_universal_wrapper {
  display: block;
  box-sizing: border-box;
  width: 50%;
  float: left;
}
.iwd_opc_short_fields .iwd_opc_universal_wrapper:first-child {
  padding-right: calc(12.5px);
}
.iwd_opc_short_fields .iwd_opc_universal_wrapper:last-child {
  padding-left: calc(12.5px);
}
.iwd_opc_section_delimiter {
  height: 1px;
  background: #f3f3f3;
  width: calc(100% -  50px );
  margin: 0 auto 25px auto;
}
.iwd_opc_small_button,
.iwd_opc_button {
  font-size: 14px;
  text-align: center;
  border-radius: 4px;
  width: 100%;
  padding-top: 11px;
  padding-right: 25px;
  padding-bottom: 11px;
  padding-left: 25px;
  border: none;
  outline: none;
  margin: 0;
  color: #fff;
  background-color: #868686;
  cursor: pointer;
}
.iwd_opc_small_button:not(.disabled):hover,
.iwd_opc_button:not(.disabled):hover {
  background-color: #999999;
}
.iwd_opc_small_button.disabled,
.iwd_opc_button.disabled {
  color: #b6b6b6;
  background-color: #f3f3f3;
  cursor: default;
}
.iwd_opc_small_button.active,
.iwd_opc_button.active {
  color: #fff;
  background-color: #22a1ad;
}
.iwd_opc_small_button.active:hover,
.iwd_opc_button.active:hover,
.iwd_opc_small_button.active:focus,
.iwd_opc_button.active:focus {
  background-color: #26b3bf;
}
.iwd_opc_small_button {
  padding-right: 8.33333333px;
  padding-left: 8.33333333px;
  display: block;
  box-sizing: border-box;
  width: 45%;
  overflow: hidden;
}
.iwd_opc_small_button:first-child {
  float: left;
}
.iwd_opc_small_button:last-child {
  float: right;
}
.iwd_opc_small_button_container {
  overflow: hidden;
}
.iwd_opc_loader_wrapper {
  display: none;
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 100;
}
.iwd_opc_loader_wrapper.active {
  display: block;
}
.iwd_opc_loader_wrapper .iwd_opc_loader_mask {
  width: 100%;
  height: 100%;
  background-color: rgba(255, 255, 255, 0.5);
}
.iwd_opc_loader_wrapper .iwd_opc_loader {
  position: absolute;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 2;
  margin: auto;
  font-size: 8px;
  border-top: 0.8em solid rgba(34, 161, 173, 0.2);
  border-right: 0.8em solid rgba(34, 161, 173, 0.2);
  border-bottom: 0.8em solid rgba(34, 161, 173, 0.2);
  border-left: 0.8em solid #22a1ad;
  -webkit-transform: translateZ(0);
  -ms-transform: translateZ(0);
  transform: translateZ(0);
  -webkit-animation: load8 1.1s infinite linear;
  animation: load8 1.1s infinite linear;
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
.iwd_opc_loader_wrapper .iwd_opc_loader:after {
  border-radius: 50%;
  width: 5em;
  height: 5em;
}
@-webkit-keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
@keyframes load8 {
  0% {
    -webkit-transform: rotate(0deg);
    transform: rotate(0deg);
  }
  100% {
    -webkit-transform: rotate(360deg);
    transform: rotate(360deg);
  }
}
.iwd_opc_popup_wrapper {
  display: none;
  position: fixed;
  top: 0;
  bottom: 0;
  left: 0;
  right: 0;
  z-index: 102;
  width: 100%;
  height: 100%;
}
.iwd_opc_popup_wrapper.active {
  display: block;
}
.iwd_opc_popup_wrapper .iwd_opc_popup {
  background: #fff;
  border-radius: 4px;
  padding: 25px;
  position: absolute;
  top: 40%;
  left: 50%;
  width: auto;
  -webkit-transform: translate(-50%, -50%);
  -moz-transform: translate(-50%, -50%);
  -ms-transform: translate(-50%, -50%);
  -o-transform: translate(-50%, -50%);
  transform: translate(-50%, -40%);
  max-height: 85%;
  overflow: auto;
}
@media (max-width: 600px) {
  .iwd_opc_popup_wrapper .iwd_opc_popup {
    padding: 12.5px;
  }
}
.iwd_opc_popup_wrapper .iwd_opc_popup .iwd_opc_popup_close {
  line-height: 1;
  font-size: 14px;
  color: #868686;
  cursor: pointer;
  margin-bottom: 25px;
}
@media (max-width: 600px) {
  .iwd_opc_popup_wrapper .iwd_opc_popup .iwd_opc_popup_close {
    margin-bottom: 12.5px;
  }
}
.iwd_opc_popup_wrapper .iwd_opc_popup .iwd_opc_popup_close:hover {
  color: #22a1ad;
}
.iwd_opc_popup_wrapper .iwd_opc_popup .iwd_opc_popup_close:before {
  font-family: 'FontAwesome';
  content: '\f137';
  padding-right: 2px;
}
.iwd_opc_popup_wrapper .iwd_opc_popup .iwd_opc_popup_content {
  max-height: 100%;
  max-width: 480px;
  outline: none;
}
@media (max-width: 600px) {
  .iwd_opc_popup_wrapper .iwd_opc_popup .iwd_opc_popup_content {
    width: 290px;
  }
}
@media (max-width: 390px) {
  .iwd_opc_popup_wrapper .iwd_opc_popup .iwd_opc_popup_content {
    width: calc(277.5px);
  }
}
.iwd_opc_popup_wrapper .iwd_opc_popup_mask {
  width: 100%;
  height: 100%;
  background-color: rgba(0, 0, 0, 0.4);
}
.iwd_empty_cart_wrapper {
  padding: 50px 0;
  width: 100%;
  position: relative;
  color: #343434;
  overflow: hidden;
}
.iwd_empty_cart_wrapper * {
  font-family: 'Open Sans', sans-serif;
  line-height: 1.4;
  box-sizing: border-box;
}
.iwd_empty_cart_wrapper .iwd_empty_page_column {
  position: relative;
  margin: 0 auto;
}
.iwd_empty_cart_wrapper .iwd_empty_page_column .iwd_empty_page_title {
  padding-bottom: 15px;
  text-align: center;
  font-size: 24px;
  line-height: 1;
}
.iwd_empty_cart_wrapper .iwd_empty_page_column .iwd_empty_cart_info {
  text-align: center;
}
.iwd_empty_cart_wrapper .iwd_empty_page_column .iwd_empty_cart_powered_by {
  text-align: center;
}
.iwd_empty_cart_wrapper .iwd_empty_page_column .iwd_empty_cart_powered_by a {
  text-decoration: none;
  font-size: 12px;
  color: #868686;
}
/*# sourceMappingURL=empty_cart.map */