<?xml version="1.0"?>
<config>
    <tabs>
        <iwdall>
            <label>IWD Extensions</label>
            <sort_order>210</sort_order>
            <class>iwd-block</class>
        </iwdall>
    </tabs>
    <sections>
        <carriers translate="label" module="shipping">
            <groups>
                <fake_iwd_opc_storepickup translate="label">
                    <label>IWD In-Store Pickup</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>2</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <active translate="label">
                            <label>Enabled</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </active>
                        <title translate="label">
                            <label>Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </title>
                        <minimum_order_amount translate="label">
                            <label>Minimum Order Amount</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </minimum_order_amount>
                        <specificerrmsg translate="label">
                            <label>Displayed Error Message</label>
                            <frontend_type>textarea</frontend_type>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </specificerrmsg>
                        <sallowspecific translate="label">
                            <label>Ship to Applicable Countries</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>5</sort_order>
                            <frontend_class>shipping-applicable-country</frontend_class>
                            <source_model>adminhtml/system_config_source_shipping_allspecificcountries</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sallowspecific>
                        <specificcountry translate="label">
                            <label>Ship to Specific Countries</label>
                            <frontend_type>multiselect</frontend_type>
                            <sort_order>6</sort_order>
                            <source_model>adminhtml/system_config_source_country</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                            <can_be_empty>1</can_be_empty>
                        </specificcountry>
                        <showmethod translate="label">
                            <label>Show Method if Not Applicable</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>7</sort_order>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </showmethod>
                        <sort_order translate="label">
                            <label>Sort Order</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </sort_order>
                        <stores>
                            <label>Stores</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </stores>
                    </fields>
                </fake_iwd_opc_storepickup>
            </groups>
        </carriers>
        <iwd_opc translate="label">
            <label>Checkout Suite</label>
            <tab>iwdall</tab>
            <frontend_type>text</frontend_type>
            <sort_order>200</sort_order>
            <show_in_default>1</show_in_default>
            <show_in_website>1</show_in_website>
            <show_in_store>1</show_in_store>
            <class>iwd-opc-section</class>
            <groups>
                <general translate="label">
                    <label>General</label>
                    <sort_order>1</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <version>
                            <label>Version</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <frontend_model>iwd_opc/adminhtml_system_config_form_fieldset_version</frontend_model>
                        </version>
                        <enable>
                            <label>Enable Module?</label>
                            <frontend_type>select</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <validate>required-entry</validate>
                        </enable>
                    </fields>
                </general>
                <default translate="label">
                    <label>Default Settings</label>
                    <sort_order>20</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <title>
                            <label>Checkout Page Title</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <validate>required-entry</validate>
                        </title>
                        <shipping>
                            <label>Default Shipping Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_opc/system_config_source_shipping_allmethods</source_model>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </shipping>
                        <payment>
                            <label>Default Payment Method</label>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_opc/system_config_source_payment_allmethods</source_model>
                            <sort_order>3</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment>
                        <subscribe>
                            <label>Show Subscribe to Newsletter</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>4</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </subscribe>
                        <subscribe_default>
                            <label>Check Subscribe to Newsletter by Default?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <depends>
                                <subscribe>1</subscribe>
                            </depends>
                        </subscribe_default>
                        <show_shipping>
                            <label>Always show shipping form?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>6</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_shipping>
                        <show_comment>
                            <label>Show comment field?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>8</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_comment>
                        <show_discount>
                            <label>Show discount form?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_discount>
                        <show_gift_message>
                            <label>Show gift message form?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_gift_message>
                        <show_login_button>
                            <label>Show login button in the top left corner of the page?</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>9</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </show_login_button>
                        <payment_title_type>
                            <label>Payment method title display type</label>
                            <frontend_type>select</frontend_type>
                            <source_model>iwd_opc/source_payment_title</source_model>
                            <sort_order>11</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </payment_title_type>
                    </fields>
                </default>
                <fake_iwd_recurringpayments translate="label">
                    <label>Subscriptions and Recurring Payments</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>221</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <iwd_recurringpayments_general type="group" translate="label">
                            <label>General Settings</label>
                            <sort_order>1</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <expanded>1</expanded>
                            <fields>
                                <status>
                                    <label>Enable Module?</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </status>
                                <days_for_retry_payment>
                                    <label>Automatically Retry Failed Transactions After X Days</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>10</sort_order>
                                    <isrequired>true</isrequired>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>
                                        <![CDATA[Number of days until customer is charged again after failed payment]]></comment>
                                </days_for_retry_payment>
                            </fields>
                        </iwd_recurringpayments_general>
                        <iwd_recurringpayments_email type="group" translate="label">
                            <label>Emails</label>
                            <frontend_type>text</frontend_type>
                            <sort_order>2</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <fields>
                                <new_subscription translate="label">
                                    <label>New Subscription Email</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </new_subscription>
                                <cancel_subscription translate="label">
                                    <label>Cancel Subscription Email</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </cancel_subscription>
                                <update_subscription translate="label">
                                    <label>Update Subscription Email</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </update_subscription>
                                <reorder_subscription translate="label">
                                    <label>Reorder Subscription Email</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </reorder_subscription>
                                <trial_end_subscription translate="label">
                                    <label>End Trial Subscription Email</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </trial_end_subscription>
                                <next_payment_subscription translate="label">
                                    <label>Next Payment Subscription Email</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </next_payment_subscription>
                                <payment_failed_subscription translate="label">
                                    <label>Payment Failed Subscription Email</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </payment_failed_subscription>
                                <header translate="label">
                                    <label>Header for emails</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </header>
                                <footer translate="label">
                                    <label>Footer for emails</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>130</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment><![CDATA[]]></comment>
                                </footer>
                            </fields>
                        </iwd_recurringpayments_email>
                    </fields>
                </fake_iwd_recurringpayments>
                <fake_iwd_opc_store_credit translate="label">
                    <label>Store Credit Options</label>
                    <show_in_default>1</show_in_default>
                    <show_in_website>1</show_in_website>
                    <show_in_store>1</show_in_store>
                    <sort_order>80</sort_order>
                    <expanded>1</expanded>
                    <fields>
                        <enabled translate="label">
                            <label>Enable Store Credit</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <backend_model>adminhtml/system_config_backend_cache</backend_model>
                            <sort_order>5</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </enabled>
                        <show_history translate="label">
                            <label>Show Store Credit History to Customers</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>10</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>0</show_in_store>
                        </show_history>
                        <auto_refund translate="label">
                            <label>Refund Store Credit Automatically</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_yesno</source_model>
                            <sort_order>15</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                        </auto_refund>
                        <email_identity translate="label">
                            <label>Store Credit Update Email Sender</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_identity</source_model>
                            <sort_order>20</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_identity>
                        <email_template translate="label">
                            <label>Store Credit Update Email Template</label>
                            <frontend_type>select</frontend_type>
                            <source_model>adminhtml/system_config_source_email_template</source_model>
                            <sort_order>30</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                        </email_template>
                    </fields>
                </fake_iwd_opc_store_credit>
                <fake_iwd_opc_gift_cards>
                    <label>Gift Cards</label>
                    <frontend_type>text</frontend_type>
                    <sort_order>90</sort_order>
                    <show_in_default>1</show_in_default>
                    <show_in_website>0</show_in_website>
                    <show_in_store>0</show_in_store>
                    <expanded>1</expanded>
                    <fields>
                        <gift_cards_general type="group" translate="label">
                            <label>General Settings</label>
                            <sort_order>100</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <expanded>1</expanded>
                            <fields>
                                <enable_gfaccount>
                                    <label>Enable Gift Card Account</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <backend_model>adminhtml/system_config_backend_cache</backend_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Enables settings to manage gift card accounts.</comment>
                                </enable_gfaccount>
                                <is_redeemable translate="label">
                                    <label>Redeemable</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>5</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Gift Card can be redeemed for store credit.</comment>
                                </is_redeemable>
                                <lifetime translate="label comment">
                                    <label>Expires After</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>10</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>The number of days card is valid. If left blank, gift card will not expire.</comment>
                                </lifetime>
                                <allow_message translate="label">
                                    <label>Allow Message</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_yesno</source_model>
                                    <sort_order>15</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment>Give customer option to leave a message when purchasing gift card.</comment>
                                </allow_message>
                                <order_item_status translate="label">
                                    <label>Generate Gift Card Account when Item is</label>
                                    <frontend_type>select</frontend_type>
                                    <sort_order>25</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Determine when gift card account is created.</comment>
                                </order_item_status>
                            </fields>
                        </gift_cards_general>
                        <email type="group" translate="label">
                            <label>Notification Settings</label>
                            <sort_order>200</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>1</show_in_website>
                            <show_in_store>1</show_in_store>
                            <expanded>0</expanded>
                            <fields>
                                <identity translate="label">
                                    <label>Notification Email Sender</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_identity</source_model>
                                    <sort_order>6</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment>The store contact that appears as the sender of the gift card notification email. Email sent to customer after purchase.</comment>
                                </identity>
                                <template translate="label">
                                    <label>Notification Email Template</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>7</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment>Template for gift card notification email, sent to customer after purchase.</comment>
                                </template>
                                <identity_email translate="label">
                                    <label>Gift Card Email Sender</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_identity</source_model>
                                    <sort_order>1</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment>Email sent from gift card account manager when admin creates gift card in admin panel.</comment>
                                </identity_email>
                                <template_email translate="label">
                                    <label>Gift Card Email Template</label>
                                    <frontend_type>select</frontend_type>
                                    <source_model>adminhtml/system_config_source_email_template</source_model>
                                    <sort_order>2</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>1</show_in_website>
                                    <show_in_store>1</show_in_store>
                                    <comment>Template used when admin creates gift card in admin panel.</comment>
                                </template_email>
                            </fields>
                        </email>
                        <giftcardaccount_general type="group" translate="label">
                            <label>Advanced Settings</label>
                            <sort_order>300</sort_order>
                            <show_in_default>1</show_in_default>
                            <show_in_website>0</show_in_website>
                            <show_in_store>0</show_in_store>
                            <expanded>0</expanded>
                            <fields>
                                <code_length translate="label comment">
                                    <label>Code Length</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>2</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Length of the gift card code.</comment>
                                </code_length>
                                <code_format translate="label">
                                    <label>Code Format</label>
                                    <frontend_type>select</frontend_type>
                                    <sort_order>3</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Format of the gift card code.</comment>
                                </code_format>
                                <code_prefix translate="label">
                                    <label>Code Prefix</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>4</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Add characters to the beginning of gift card code.</comment>
                                </code_prefix>
                                <code_suffix translate="label">
                                    <label>Code Suffix</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>5</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Add characters to the end of gift card code.</comment>
                                </code_suffix>
                                <code_split translate="label comment">
                                    <label>Dash Every X Characters</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>6</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>The number of characters between each dash. If left blank, code will have no dashes.</comment>
                                </code_split>
                                <pool_size translate="label comment">
                                    <label>New Pool Size</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>7</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                    <comment>Gift cards are generated using a pool of characters. Determine the size of the code pool for when new gift cards are generated. </comment>
                                </pool_size>
                                <pool_threshold translate="label comment">
                                    <label>Low Code Pool Threshold</label>
                                    <frontend_type>text</frontend_type>
                                    <sort_order>8</sort_order>
                                    <show_in_default>1</show_in_default>
                                    <show_in_website>0</show_in_website>
                                    <show_in_store>0</show_in_store>
                                </pool_threshold>
                            </fields>
                        </giftcardaccount_general>
                    </fields>
                </fake_iwd_opc_gift_cards>
            </groups>
        </iwd_opc>
    </sections>
</config>
